{% extends "enrollment_request/base.html" %}
{% block title %} Enrollment Requests' List {% endblock %}

{% block content %}
  <main class="staff-enroll_request-list">
    {% if messages %}
      <div class="message-container dynamic-width">
        {% for message in messages %}
          <div class="message {{ message.tags }}">
            <div class="message-body">
              <div class="message-icon">
                <i class="fa fa-circle-check"></i>
              </div>
              <div class="message">
                <p>{{ message|safe }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <section class="dynamic-width">
      <div class="flexbox">
        <h1 class="mtb-1">Enroll Requests </h1>
        </a>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Student</th>
              <th>Course</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for enroll_request in enroll_requests %}
            <tr>
              <td> {{ forloop.counter }} </td>
              <td> {{ enroll_request.student.user.first_name }} </td>
              <td> {{ enroll_request.course }} </td>
              <td> 
                <div class="badge-container {{ enroll_request.status }}">
                  <div class="badge">
                    <small>{{ enroll_request.status }}</small>
                  </div>
                </div>
                 
              </td>
              <td>
                <div class="action-icons">
                  <a href="{% url 'enroll_request:enroll_request_details' enroll_request.id %}" class="details">
                    <i class="fa-solid fa-square-check"></i> 
                    Update status
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>

  </main>
{% endblock %}