{% extends "enrollment_request/base.html" %}
{% block title %} Homepage {% endblock %}

{% block content %}
  <main>
    <section class="hero-container">
      <section class="hero dynamic-width">
        <div class="header">
          <h1>Welcome to the weekend school</h1>
        </div>
        <div class="intro-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ratione eligendi sit praesentium officia obcaecati aspernatur, dolores similique tenetur? Officia, expedita nam. Quos, quod porro?
        </div>
        <div class="cta">
          <a href="#" class="btn btn-brand">Enroll Now</a>
        </div>
      </section>
    </section>

    <section class="features dynamic-width">
      <div class="feature">
        <div class="feature-icon">
          <i class="bi bi-person-badge"></i>
        </div>
        <div class="feature-title">
          <h3>Create account</h3>
        </div>
        <div class="feature-description">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, nemo?
          </p>
        </div>
        <div class="feature-link">
          <a href="#">
            Create account here
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
      
      <div class="feature">
        <div class="feature-icon">
          <i class="bi bi-laptop"></i>
        </div>
        <div class="feature-title">
          <h3>Select course</h3>
        </div>
        <div class="feature-description">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, eum.
          </p>
        </div>
        <div class="feature-link">
          <a href="#">
            Select course here
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
      
      <div class="feature">
        <div class="feature-icon">
          <i class="bi bi-award"></i>
        </div>
        <div class="feature-title">
          <h3>Start your career</h3>
        </div>
        <div class="feature-description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae beatae
          </p>
        </div>
        <div class="feature-link">
          <a href="#">
            Pick career
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
    </section>
  </main>
{% endblock %}