{% extends "enrollment_request/base.html" %}
{% block title %} Course Details {% endblock %}

{% block content %}
  <main class="course-details dynamic-width">
    {% if messages %}
      <div class="message-container dynamic-width">
        {% for message in messages %}
          <div class="message {{ message.tags }}">
            <div class="message-body">
              <div class="message-icon">
                <i class="fa fa-circle-check"></i>
              </div>
              <div class="message">
                <p>{{ message|safe }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    <!-- <h1> {{ course.name }} course details</h1> -->
    <section class="">
      <div class="course-image">
        <img src="{{ course.image.url }}" alt="{{ course.name }} image">
      </div>

      <div class="course-details">
        <p class="deadline">
          Enrollment Deadline <i class="bi bi-calendar3"></i>
          {{ course.deadline }}
        </p>
        <div class="course-title">
          <h3>{{ course.name }}</h3>
        </div>
        <p class="course-description">
          {{ course.description }}
        </p>
      </div>

      {% if course.is_enrollment_open %}
        <form action="{% url 'enroll_request:enroll_in_course' course.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-brand w-100 mtb-1">Send Enroll Request</button>
        </form>
      {% else %}
        <p>Enrollment deadline has passed</p>
      {% endif %}     
      
      {% if request.user.is_staff %}
      <div class="staf-action-btns">
        <a href="{% url 'enroll_request:update_course' course.id %}" class="btn btn-warning w-100">Edit</a>
        <a href="{% url 'enroll_request:delete_course' course.id %}" class="btn btn-danger w-100">Delete</a>
      </div>
      {% endif %}
    </section>
  </main>
{% endblock %}

