{% extends "enrollment_request/base.html" %}
{% block title %} Courses List {% endblock %}

{% block content %}
  <main class="staff-course-list">
    {% if messages %}
      <div class="message-container dynamic-width">
        {% for message in messages %}
          <div class="message {{ message.tags }}">
            <div class="message-body">
              <div class="message-icon">
                <i class="fa fa-circle-check"></i>
              </div>
              <div class="message">
                <p>{{ message|safe }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <section class="dynamic-width">
      <div class="flexbox">
        <h1>Courses List</h1>
        <a href="{% url 'enroll_request:create_course' %}" class="btn btn-brand mtb-1"> 
          <i class="fa-solid fa-plus"></i>
          Add a new course
        </a>
      </div>

      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Course name</th>
            <th>Deadline</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr>
            <td> {{ course.forloop.counter }} </td>
            <td> {{ course.name }} </td>
            <td> {{ course.deadline }} </td>
            <td>
              <div class="action-icons">
                <a href="{% url 'enroll_request:course_details' course.id %}" class="details">
                  <i class="fa-solid fa-list-ul"></i> 
                </a>
                <a href="{% url 'enroll_request:update_course' course.id %}" class="edit">
                  <i class="fa-solid fa-pen-to-square"></i> 
                </a>
                <a href="{% url 'enroll_request:delete_course' course.id %}" class="delete">
                  <i class="fa-solid fa-trash-can"></i> 
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

  </main>
{% endblock %}